.card{
   border-radius: 15px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
    align-items: center;
    padding: 10px;
}
.grid{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;

}

.img{
    width: 150px;
}